*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border-top: 5px solid orange;
}
.logo-img.img{
    padding-left: 150px;
}
.navbar{
 display: flex;
 width: 100%;
 height: 90px;
 justify-content: space-evenly;
 align-items: center;
}
.navbar ul li {  
    text-decoration: none;
}
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

}
li ,a{

    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    list-style-type:none;
}
button{
    background: #FF7500;;
    border-radius: 5px;
    border: none;
    padding: 15px 25px;
    color: #fff;
}
button:hover{
    /* background: #ff0000; */
    /* color: black; */

    background: #fff;
    color: #000;
    border: solid 1px orange;
}
a{
      position: relative;
}
a:hover{
      color: #FF7500;   ;

}
a:hover:after{
      content: "";
      position: absolute;
      background-color: #ff3c78;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: width 2s;
    }
a:hover:after{
    width: 100%;
    color: #FF7500;   ;
}
.header{
    width: 100%;
    height: 488px;
    border: 1px solid;
    background-color: #252420;

}
section.first{
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items:center;
    
}
section h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    padding-top: 50px;

color: #FFFFFF;
}
section p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
section button{
    flex: none;
    order: 0;
    flex-grow: 0;
}
section img{
    margin-top: 50px;
    margin-right: 60px;
}
section div.border{
    width: 90px;
    height: 3px;
    background-color: #FF7500;;
}